defaults:
  - _self_
  - override hydra/hydra_logging: disabled
  - override hydra/job_logging: disabled
hydra:
  output_subdir: null
  run:
    dir: .

search:
  output_folder: data
  result_file: urls.txt
  cnt: 10
  query: машинное обучение лекции таймкоды

scraper:
  output_folder: ${search.output_folder}/dataset
